<div class="sidebar well">
    <h4>{{ site.description }}</h4>
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        {% for post in site.posts limit:10 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1277778288'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1277778288%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>